PROJECT_NAME="Meridian API"
DATABASE_URL="sqlite+aiosqlite:///./trip_planner.db"
SECRET_KEY=""
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Replace this with an official OpenAI Key starting with 'sk-' or a RapidAPI key
OPENAI_API_KEY=""

# Replace this with a standard Google Places API key or a RapidAPI key
GOOGLE_MAPS_API_KEY=""
